/*! purgecss start ignore */

@layer tailwind.base {
	@tailwind base;
}

@layer tailwind.components {
	@tailwind components;
}

@layer tailwind.utilities {
	@tailwind utilities;
}

@layer reset, base, tokens, recipes, utilities;

/*! purgecss end ignore */

html {
  scroll-behavior: smooth;
}

body {
	margin: 0;
	padding: 0;
}